.news

	&__item

		&:not(:first-child)
			margin: 20px 0 0

.news-item
	display: flex
	align-items: center

	&__img
		flex: none
		margin-right: rem(49)
		max-width: 180px

		img
			display: block

	&__title
		max-width: 590px
		font-size: rem(18)
		line-height: lh(26, 18)

		a
			font: inherit
			color: inherit
			border: none

	&__date
		font-size: 12px
		line-height: lh(20, 12)
		color: #adb4c6
		margin: 12px 0 0