<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Награды и грамоты
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		
		main#content
			.inner-content__cont
				.wrapper
					.title-block
						.title-block__crumbs
							ul.bread-crumbs
								li.bread-crumbs__link(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb")
									a(href="#" title="Главная" itemprop="url")
										span(itemprop="title") Главная
								li.bread-crumbs__this Награды и грамоты
						.title-block__title
							h1 Награды и грамоты
					.inner-content
						.awards
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-0.png" data-caption="Диплом Законодательного Собрания Челябинской области за победу в областном конкурсе социальных достижений \"Меняющие мир\" в 2017 году в номинации \"Благотворительная деятельность некоммерческих организаций\"" data-fancybox="awards")
										img(src="img/photos/aw-0.png")
									.award__text
										.text-page
											p Диплом Законодательного Собрания Челябинской области за победу в областном конкурсе социальных достижений 
												b "Меняющие мир" 
												| в 2017 году в номинации 
												b "Благотворительная деятельность некоммерческих организаций"
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-1.png" data-caption="Сертификат автоматизированного официального дилера продукции \"Kiturami\" на территории РФ." data-fancybox="awards")
										img(src="img/photos/aw-1.png")
									.award__text
										.text-page
											p Сертификат автоматизированного официального дилера продукции 
												b "Kiturami" 
												| на территории РФ.
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-2.png" data-caption="Почетная грамота Ермакову Сергею Владимировичу за активную гражданскую позицию и плодотворное сотрудничество с Торгово-промышленной палатой Российской Федерации." data-fancybox="awards")
										img(src="img/photos/aw-2.png")
									.award__text
										.text-page
											p Почетная грамота Ермакову Сергею Владимировичу 
												b за активную гражданскую позицию и плодотворное сотрудничество 
												| с Торгово-промышленной палатой Российской Федерации.
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-3.png" data-caption="Благодарность от лица Министерства строительства и жилищно-коммунального хозяйства Российской Федерации за организацию чемпионата профессионального мастерства \"Лучший сантехник. Кубок России\" и высокий уровень проведения финала мероприятия от А. Чибиса." data-fancybox="awards")
										img(src="img/photos/aw-3.png")
									.award__text
										.text-page
											p Благодарность от лица Министерства строительства и жилищно-коммунального хозяйства Российской Федерации за организацию чемпионата профессионального мастерства 
												b "Лучший сантехник. Кубок России"
												| и высокий уровень проведения финала мероприятия от А. Чибиса.
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-4.png" data-caption="Диплом лауреата Законодательного Собрания Челябинской области в сфере поддержки и развития предпринимательства от Председателя Законодательного Собрания Челябинской области В.В Мякуша." data-fancybox="awards")
										img(src="img/photos/aw-4.png")
									.award__text
										.text-page
											p Диплом 
												b лауреата Законодательного Собрания Челябинской области в сфере поддержки и развития предпринимательства 
												| от Председателя Законодательного Собрания Челябинской области В.В Мякуша.
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-5.png" data-caption="Диплом участника конкурса \"Лучший экспортер\" Челябинской области по итогам 2014 года." data-fancybox="awards")
										img(src="img/photos/aw-5.png")
									.award__text
										.text-page
											p Диплом участника конкурса 
												b "Лучший экспортер" 
												| Челябинской области по итогам 2014 года.
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-6.png" data-caption="Диплом лауреата премии Бизнес-Успех в номинации \"Лучший созидательный проект\".Награждается Сергей Ермаков, генеральный директор ООО ТД \"СантехУрал\"." data-fancybox="awards")
										img(src="img/photos/aw-6.png")
									.award__text
										.text-page
											p Диплом лауреата премии Бизнес-Успех в номинации 
												b "Лучший созидательный проект".
												| Награждается Сергей Ермаков, генеральный директор ООО ТД "СантехУрал".
							.awards__item
								.award
									a.award__img.fancybox(href="img/photos/aw-7.png" data-caption="Почетная грамота губернатора Челябинской области Бориса Александровича Дубровского генеральному директору ТД \"СантехУрал\" Ермакову Сергею Владимировичу за добросовестный труд, развитие и популяризацию рабочих профессий и личный вклад в социально-экономическое развитие Челябинской области." data-fancybox="awards")
										img(src="img/photos/aw-7.png")
									.award__text
										.text-page
											p Почетная грамота губернатора Челябинской области Бориса Александровича Дубровского генеральному директору ТД "СантехУрал" Ермакову Сергею Владимировичу 
												b за добросовестный труд, развитие и популяризацию рабочих профессий и личный вклад в социально-экономическое развитие Челябинской области.
						include inc/paginator.pug
		include inc/footer.pug
		include inc/scripts.pug