<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Контакты
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		
		main#content
			.inner-content__cont
				.wrapper
					.title-block
						.title-block__crumbs
							ul.bread-crumbs
								li.bread-crumbs__link(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb")
									a(href="#" title="Главная" itemprop="url")
										span(itemprop="title") Главная
								li.bread-crumbs__this Контакты
						.title-block__title
							h1 Контакты
					.inner-content
						.contacts
							.contacts__subtitle Адреса наших магазинов:
							.contacts__addresses
								.address-list
									.address-list__item
										div
											address.address-list__item-address 454106 г. Челябинск, ул. Северо-Крымская 18А
											time.address-list__item-time 9:00-17:45 (пт 9:00-17:00)
									.address-list__item
										div
											address.address-list__item-address 454053, г. Челябинск, Троицкий тракт, д. 29
											time.address-list__item-time 99:00-17:45 (пт 9:00-17:00, сб 09:30-16:00)
							.contacts__deps
								.deps
									.deps__item
										.dep
											.dep__title Отдел продаж
											address.f-phone
												a(href="tel:+7 (351) 729-88-58") +7 (351) 729-88-58
											address.f-mail
												a(href="mailto: tdsu@tdsu.ru") tdsu@tdsu.ru
									.deps__item
										.dep
											.dep__title Отдел маркетинга
											address.f-phone 
												a(href="tel:+7 (351) 223-28-62") +7 (351) 223-28-62
											address.f-mail
												a(href="mailto: market@tdsu.ru") market@tdsu.ru
									.deps__item
										.dep
											.dep__title Отдел снабжения
											address.f-phone
												a(href="tel:+7 (351) 225-08-88") +7 (351) 225-08-88
											address.f-mail
												a(href="mailto: santehural@tdsu.ru") santehural@tdsu.ru
									.deps__item
										.dep
											.dep__title Отдел логистики
											address.f-phone
												a(href="tel:+7 (902) 891-35-48") +7 (902) 891-35-48
									.deps__item
										.dep
											.dep__title Монтажная служба
											address.f-phone
												a(href="tel:+7 (351) 240-88-80") +7 (351) 240-88-80
									.deps__item
										.dep
											.dep__title Бухгалтерия
											address.f-mail
												a(href="mailto: account@tdsu.ru") account@tdsu.ru
							.contacts__map
								.map
									<!-- Маркер для краты /img/ico-marker.png -->
									img(src="img/photos/map.jpg")
		include inc/footer.pug
		include inc/scripts.pug